.wrapper{
  width: 80%;
  top: 10%;
  margin: auto;
  font-size: 16px;
}
.Shop_List{
  border-style:solid;
  border-color: #D2691E;
  background-color:#ECDB54;
}
.fullPrice{
  position: fixed;
  left: 50%;
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
  font-size: 1.12em;
}
.Task_List{
  border-style:solid;
  border-color: #D65076;
  background-color: #F3D6E4; 
}
.Text_Note{
    border-style:solid;
    border-color: #9B2335;
    background-color:#F0EDE5;
}
body{
    background-color:#D8AE47;
}
table{
	width: 95%; 
  margin-left: 15px;
}

td {
	  width: 50%;
    background-color: #f1f1c1;
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
}

th{
	text-align: left;
}

h1{
	  display: block;
    font-size: 1.78em;
	  color: red;
    text-align: center;
    text-decoration: underline overline;
}


h2{
	  display: block;
    margin-left: 15px;
    font-size: 1.17em;
    font-weight: bold;
}
strong{
	font-size: 1.22em;
}

td:nth-child(1) {
  width: 80%;
  background: #f1f1c1;
  }

/* the second */
td:nth-child(2) {
  width: 10%;
  text-align: center;
  background: #F1EA09;
}

td:nth-child(3) {
  width: 10%;
  background: #E94B3C;
  font-size: 1.10em;
  text-align: center;
}

.horizontal-line {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px dashed #fff;
    margin: 1em 0;
    padding: 0;
}

li{
  font-size: 1.12em;
  font-style: oblique;
}

pre{
  margin-left: 20px;
  font-style: italic;
  line-height:10px;
}
p{
  margin-left: 15px;
}

